div.tinker-block(data-tinker-id=id)
  button.tinker-block__header(
    type="button"
    aria-expanded="false"
    aria-controls=`tinker-body-${id}`
  )
    span.tinker-block__label Razonamiento interno
    svg(width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2")
      polyline(points="6 9 12 15 18 9")
  pre.tinker-block__body(
    id=`tinker-body-${id}`
    hidden
    aria-hidden="true"
  )= content
